@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

html{
  background-color: black;
  font-family: 'Staatliches', cursive;
}


.columns{
  display: flex
}



.contestant-column{
  color: whitesmoke;
  width: 75%;
}

.money-column{
  width: 25%;
  min-height: 100%;
}


.money-chain{
  display: flex;
  // background-color: rgb(137, 21, 25);
  flex-direction: column-reverse;
  align-items: center;
  min-height: 100%;
  perspective: 1000px;

  .value-disc{
    height: 9.09%;
    margin-top: 1vh;
    text-align: center;
    width: 50%;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0.5vh 0.5vw;
  }

.banked-value{
  margin-bottom: -3vh;
  background-color: rgb(137, 21, 25);
  box-shadow: 0.5vh 0.5vw;
}

.not-banked-value{
margin-bottom: 1vh;
color: white;
background-color: rgb(39, 86, 136);
background-image: linear-gradient(
  to right, 
  rgba(255, 255, 255, 0.13) 0%,
  rgba(255, 255, 255, 0.13) 77%,
  rgba(255, 255, 255, 0.5) 92%,
  rgba(255, 255, 255, 0.0) 100%
);
box-shadow: 0.5vh 0.5vw;
}

.current-value{
  margin-bottom: 1vh;
  color: white;
  background-color: rgb(137, 21, 25);
  box-shadow: 0.5vh 0.5vw;
}


.pot-amount{
  // width: 12%;
  margin-top: 6vh;
  background-color: rgb(139, 143, 138);
}

}


.weakest-link{
color: red;
}

.strongest-link{
  color: lightseagreen;
}



.contestants {
  
  text-align: center;
  border: 4px solid whitesmoke;
  border-radius: 50%;
  margin-top: 1vh;
  background-color: rgb(16, 73, 219);
}


.name{
  font-size: 4vw;

}

.timer{
  color: whitesmoke;
}

.summary{
  color: black;
}

form{
  width: 50vw;

}


.logo{
  height: 10%;
  width: 10%;
}

.top{
  display: flex;
}